.countdown-section {
    padding: 90px 20px 125px 20px;
    background-color: var(--background-color);
}

.countdown-container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.countdown-item {
    position: relative;
    width: 256px;
    height: 144px;
    text-align: center;
    border-radius: 10px;
}

.countdown-item .card-decorative-svg {
    position: absolute;
    width: 120px;
    height: auto;
    pointer-events: none;
}

.countdown-item .card-decorative-svg .cls-1 {
    stroke: #FFFFFF;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 4.13px;
}

.countdown-item:nth-child(1) {
    background-color: var(--green);
}

.countdown-item:nth-child(1) .card-decorative-svg {
    margin-right: 185px;
    margin-bottom: 75px;
    transform: rotate(90deg);
}

.countdown-item:nth-child(2) {
    background-color: var(--orange);
}

.countdown-item:nth-child(2) .card-decorative-svg {
    margin-right: 130px;
    margin-bottom: 130px;
}

.countdown-item:nth-child(3) {
    background-color: var(--purple);
}

.countdown-item:nth-child(3) .card-decorative-svg {
    margin-right: 15px;
    margin-bottom: 15px;
}

.countdown-item:nth-child(4) {
    background-color: var(--yellow);
}

.countdown-item:nth-child(4) .card-decorative-svg {
    margin-right: -40px;
    margin-bottom: 75px;
    transform: rotate(90deg);	
}


.timer-bg {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.timer-bg.mobile {
    display: none;
}

.countdown-value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    font-weight: 700;
    color: #FFFFFF;
}

.countdown-value.animate {
    animation: numberChange 0.3s ease-in-out;
}

.countdown-label {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--green);
    bottom: -30px;
}

@media (max-width: 1200px) {

    .countdown-section {
        padding: 90px 20px 90px 20px;
    }

    .countdown-container {
        gap: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .countdown-item {
        width: 220px;
        height: 130px;
    }

    .countdown-value {
        font-size: 2.8rem;
    }

    .countdown-item .card-decorative-svg {
        width: 100px;
    }

    .countdown-item:nth-child(1) .card-decorative-svg {
        margin-right: 125px;
        margin-left: 0;
        margin-bottom: 65px;
    }
    
    .countdown-item:nth-child(2) .card-decorative-svg {
        margin-right: 10px;
        margin-left: 0px;
        margin-bottom: 120px;
    }
    
    .countdown-item:nth-child(3) .card-decorative-svg {
        margin-right: 10px;
        margin-bottom: 10px;
    }
    
    .countdown-item:nth-child(4) .card-decorative-svg {
        margin-right: -35px;
        margin-bottom: 65px;
    }
}

@media (max-width: 768px) {
    .countdown-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .countdown-section {
        padding: 50px 0;
    }

    .countdown-item {
        width: 200px;
        height: 170px;
    }

    .countdown-value {
        font-size: 3.2rem;
        top: 43%;
    }

    .countdown-label {
        top: 60%;
        bottom: auto;
        font-size: 1rem;
        font-weight: 400;
        color: #FFFFFF;
    }

    .countdown-item .card-decorative-svg {
        width: 140px;
    }

    .countdown-item:nth-child(1) .card-decorative-svg {
        margin-right: 55px;
        margin-bottom: 155px;
        transform: none;
    }
    
    .countdown-item:nth-child(2) .card-decorative-svg {
        margin-right: 120px;
        margin-bottom: 80px;
        transform: rotate(90deg);
    }
    
    .countdown-item:nth-child(3) .card-decorative-svg {
        margin-right: -55px;
        margin-bottom: 80px;
        transform: rotate(90deg);
    }
    
    .countdown-item:nth-child(4) .card-decorative-svg {
        margin-right: 10px; 
        margin-bottom: 10px;
        transform: none;
    }
}

/* Animations */
@keyframes numberChange {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1);
        opacity: 0.8;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}